@page "/AlbumCreation"
@inject IAlbumClient AlbumClient
@using global::Shared
@using Blazor.Clients
<h3>AlbumCreation</h3>

<label>Title:</label>
<input type="text" @bind="title">
<br>
<label>Description:</label>
<input type="text" @bind="description">
<br>
<label>Created By:</label>
<input type="text" @bind="creator">
<br>
<label> @message </label>
<button @onclick="Create"> Create </button>



@code {

    private string title = "";
    private string description = "";
    private string creator = "";
    private string message = "";


    private async Task Create()
    {
        if(!string.IsNullOrEmpty(title) && !string.IsNullOrEmpty(creator))
        {
            Album temp = new Album
            {
                CreatedBy = creator,
                Description = description,
                Title = title
            };
            var result = await AlbumClient.CreateAlbumAsync(temp);
            message = $"You successfully created album with the title {result.Title}";
        }
        else
        {
            message = "Album must have a title and a creator!!!";
        }
    }
    

}