@page "/CreateAToy"
@using Blazor.Clients
@using global::Shared
@inject IChildService ChildService
@inject IToyClient ToyClient
<h3>CreateAToy</h3>

@if (names == null)
    {
        <label>Loading...</label>
    }
    else if (!names.Any())
    {
        <label>No children found</label>
    }
    else
    {
        <label>Children</label>
        <select @bind="selectedChild">
            <option>Choose</option>
            @foreach (var n in names)
            {
                <option value="@n">@n</option>
            }
        </select>
    }

<label> Toy Name</label>

<input type="text" @bind="toyName" @bind:event="oninput"> 
        <br>
        <label> Toy Color</label>
        

<input type="text" @bind="color" @bind:event="oninput">
        

<br>

<label> Toy Condition </label>
        

<input type="text" @bind="toyCondition" @bind:event="oninput">
        

<br>
        <label>Toy Status</label>
        <select @bind="isFavourite">
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
        
        <button @onclick="CreateToy">Create Toy</button>
        <label>@message</label>


@code {
    private ICollection<string> names;
    private string selectedChild = "";
    private string toyName = "";
    private string color = "";
    private string toyCondition= "";
    private string isFavourite= "";
    private string message = "";


    protected override async Task OnInitializedAsync()
    {
        try
        {
            names = await ChildService.GetAllChildren();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            message = e.Message;
        }
    }

    private async Task CreateToy()
    {
        try
        {
            await ToyClient.CreateToy(new Toy
            {
                Color = color,
                Condition = toyCondition,
                IsFavourite = bool.Parse(isFavourite),
                Name = toyName
            }, selectedChild);
            message = "Toy Created Successfully!";

        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    } 

}